
{% extends "template.html" %}

{% block style %}
<style>
    body, html {height: 100%}
    body {
    background-image: url("./static/assets/mirp_and_dmitri.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-bottom: 10%;
    overflow: auto;
    }
</style>
{% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="homebox" class="loginbox w3-card w3-container w3-black w3-round-large">
    <form class="w3-container" id="homebox" action="#" method="POST">
        <h2 class="w3-margin-top w3-center">SIGN UP NOW!</h2>
        <p>. . . . . . . . . . . Find Your One True Meal . . . . . . . . . . .</p>
    </form>
</div>
{% endblock %}