{% extends "template.html" %}

{% block style %}
<style>
    body, html {height: 100%}
    body {
    background-image: url("./static/assets/background.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-bottom: 10%;
    overflow: auto;
    }
</style>
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="signupbox w3-card w3-container w3-black w3-round-large">
<form class="w3-container" action="#" method="POST" enctype="multipart/form-data">
    <h2 class="w3-center">Sign Up</h2>
    <p class="w3-text-white">Name: <input class="w3-input" type="text" name="Name"/></p>
    <p class="w3-text-white">Username: <input class="w3-input" type="text" name="Username"/></p>
    <p class="w3-text-white">Email: <input class="w3-input" type="text" name="Email"/></p>
    <p class="w3-text-white">Password: <input class="w3-input" type="text" name="Password"/></p>
    <p class="w3-text-white">Gender: <input class="w3-input" type="text" name="Gender"/></p>
    <p class="w3-text-white">Sexuality: <input class="w3-input" type="text" name="Sexuality"/></p>
    <p class="w3-text-white">Age: <input class="w3-input" type="text" name="Age"/></p>
    <p class="w3-text-white">City: <input class="w3-input" type="text" name="City"/></p>
    <p class="w3-text-white">Bio: <input class="w3-input" type="text" name="Bio"/></p>
    <!-- <p class="w3-text-white">Profile Picture: <input type="file" name="profile_pic"/></p> -->
    <p class="submitbutton w3-theme-d2"><input type="submit" value="Submit" class="w3-button w3-block w3-section"/></p>
</form>
</div>
{% endblock %}